/* Write your CSS here */

.course-main-title {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 800;
}
@media screen and (max-width: 576px) {
  .course-main-title {
    font-size: 17px;
  }
}
.duration-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .duration-container {
    display: flex;
    flex-direction: column;
  }
}
.icon-container {
  display: flex;
}
.clock-icon {
  margin-top: 18px;
  margin-right: 07px;
}
.course-duration {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 600;
}
.course-desc {
  color: #1e293b;
  font-size: 13px;
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .course-desc {
    font-size: 10px;
  }
}
.course-u-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.course-list {
  color: #171f46;
  font-size: 15px;
  font-family: 'Roboto';
  padding-right: 10px;
  font-weight: 500;
}
